.saved-card{
    display: flex;
    align-items: center;
}
.saved-card-video-img img {
    width: 250px;
    height: 200px;
}
.saved-card-views{
    display: flex;
    align-items: center;
}
.saved-icon{
    padding:  20px 20px;
    background-color: #000;
    border-radius: 100%;
    text-align: center;
}
.saved-video-banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 67px;
    
}
.saved-icon-name{
    margin-left: 10px;
}
.saved-card{
    margin-bottom: 20px;
}
.saved-card-content{
    margin-left: 30px;
}
.saved-list{
    margin-top: 40px;
    padding-left: 30px;
}
.light-theme .saved-list{
    background-color: #f1f1f1;
    height: 100vh;
    padding: 40px 27px;
}
.empty-view-conatiner{
    width: 624px;
    display: block;
    margin: auto;
    height: 100vh;
}
.empty-view-conatiner img{
    width: 100%;
}
.saved-videos-conatiner{
  height: 100vh;
}

@media screen and (max-width: 768px) {
    .saved-video-banner{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 27px;
        
    }
    .empty-view-conatiner{
        width: 465px;
        
    }
    
}

@media screen and (max-width:576px) {
    .gaming-cards{
        display: grid;
        grid-template-columns: auto auto ;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding: 10px 47px;
    }
    .Game-card-img img{
        width: 100px;
    }
    .saved-icon {
        padding: 13px 13px;
        
    }
    .saved-videos-conatiner {
        min-width: 374px;
    }
    .empty-view-conatiner {
        width: 349px;
    }
    .saved-card-video-img img {
        width: 160px;
        height: 110px;
    }
}