.gaming-cards{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 30px;
   overflow-y: scroll;
    height: 80vh;
}
.light-theme .gaming-cards {
    background-color: #f1f1f1;
}
.Game-card-img img{
    width: 250px;
}
.Game-card{
    min-width: 300px;
}
.saved-dark-theme-conatiner{
    background-color: #181818;
}
.Particular-video-loading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
@media screen and (max-width: 768px) {
    .gaming-cards{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding: 10px 27px;
    }
    .Game-card-img img{
     width: 250px;
       
    }
}
@media screen and (max-width: 576px) {
    .gaming-cards{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 10px 27px;
    }
    .Game-card-img img{
        width: 150px;
    }
    .Game-card{
        min-width: 0px;
    }
}

@media screen and (max-width:512px) {
    .gaming-cards{
        display: grid;
        grid-template-columns: auto auto ;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding: 10px 47px;
    }
    .gaming-cards{
        display: grid;
        grid-template-columns: auto auto ;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 10px 27px;
    }
    .Game-card-img img{
        width: 100px;
    }
}