.Trending-card{
    display: flex;
    align-items: center;
}
.Trending-card-video-img img{
    width: 350px;
}
.Trending-card-views{
    display: flex;
    align-items: center;
}
.Trending-icon{
    padding:  20px 20px;
    background-color: #000;
    border-radius: 100%;
    text-align: center;
}
.Trending-video-banner{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Trending-icon-name{
    margin-left: 10px;
}
.Trending-card{
    margin-bottom: 20px;
}
.Trending-card-content{
    margin-left: 30px;
}
.Trending-list{
    margin-top: 40px;
}
.trending{
    padding: 20px 67px;
    height: 100vh;
    overflow-y: scroll;
}
.dark-theme h2{
    color: #fff;
}
.light-theme .trending {
    background-color: #f1f1f1;
}
@media screen and (max-width: 768px) {
    .trending{
        padding: 10px 27px;
    }
    .Trending-card-video-img img{
        width: 210px;
    }
    .Trending-card-header h2{
        margin-bottom: 7px;
        margin-top: 5px;
        font-size: 20px;
    }
    .Trending-card-header p{

        margin-bottom: 7px;
        margin-top: 2px;
        font-size: 17px;
    }
}
@media screen and (max-width: 576px) {
    .trending {
        padding: 5px 17px;
    }
    .Trending-card-video-img img {
        width: 170px;
    }
    .Trending-card-header h2{
        margin-bottom: 7px;
        margin-top: 5px;
        font-size: 17px;
    }
    .Trending-card-header p{

        margin-bottom: 7px;
        margin-top: 2px;
        font-size: 14px;
    }
    .saved-icon-name h2{
        font-size: 20px;
    }
    .Trending-card-content {
        margin-left: 10px;
    }
}