.Trending-card{
    display: flex;
    align-items: center;
}
.Trending-card-video-img img{
    width: 350px;
}
.Trending-card-views{
    display: flex;
    align-items: center;
}
.Trending-icon{
    padding:  20px 20px;
    background-color: #000;
    border-radius: 100%;
    text-align: center;
}
.Trending-video-banner{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Trending-icon-name{
    margin-left: 10px;
}
.Trending-card{
    margin-bottom: 20px;
}
.Trending-card-content{
    margin-left: 30px;
}
.Trending-list{
    margin-top: 40px;
}
.trending{
    padding: 20px 67px;
}
.dark-theme h2{
    color: #fff;
}