.profile-conatiner {
    background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 20px;
}
.product-details-error-view-container{
    padding: 30px;
    width: 300px;
    margin: 20px;
    
}
.product-details-error-view-container button{
    background-color: #6366f1;
    font-size: 19px;
    padding: 10px 30px;
    color: #fff;
    border: none;
    border-radius: 8px;
}

