.Particular-video-view-duration{
    display: flex;
    justify-content: space-between;
}
.Particular-video-view,.Particular-video-icons,.like,.Dis-like,.Saved-icon{
    display: flex;
    align-items: center;
}
.like,.Dis-like,.Saved-icon{
   margin-left: 20px;
}
.Particular-video-logo img{
    width: 65px;
    margin-right: 10px;
}
.Particular-video-logo{
    display: flex;
    align-items: center;
}
.blue{
    color: #3b82f6;
}
.Particular-video-failure{
    width: 624px;
    display: block;
    margin: auto;
    margin-top: 70px;
}
.Particular-video-failure img{
    width: 100%;
}
.ParticularVideo-Conatiner{
    padding: 15px;
    height: 100vh;
}
.Particular-video-header h3{
    margin-bottom: 2px;
    margin-top: 6px;
}
.Particular-video-header p{
    margin-bottom: 2px;
    margin-top: 4px;
}
.reactplayer{
    width: 1100px !important;
    height: 600px !important;
}
.particular-video-header-desc{
    width: 1100px;
    height: 600px ;
}
.dark-theme-conatiner .like .Dis-like .Saved-icon{
    color: #fff;
}
@media screen and (max-width:768px) {
    .reactplayer{
        width: 480px !important;
        height: 300px !important;
    }
    .particular-video-header-desc{
        width: 480px;
        height: 300px;
    }
}
@media screen and (max-width:992px) {
    .reactplayer{
        width: 650px !important;
        height: 400px !important;
    }
    .particular-video-header-desc{
        width: 650px;
        height: 400px;
    }
}
@media screen and (max-width:576px) {
    .reactplayer{
        width: 350px !important;
        height: 250px !important;
       
    }
    .particular-video-header-desc{
        
            width: 350px;
            height: 320px;
        
    }
    .Particular-video-heading h2{
        font-size: 18px;
    }
    .Particular-video-heading {
        width: 320px;
    }
    .Particular-video-para {
        width: 320px;
    }
    .Particular-video-para p{
        font-size: 15px;
    }
    .Particular-video-logo img {
        width: 45px;
        margin-right: 10px;
    }   
}
@media screen and (max-width:1180px) and (min-width:992px) {
    .reactplayer{
        width: 782px !important;
        height: 320px !important;
       
    }
    .particular-video-header-desc{
        width: 782px;
        height: 320px;
    }
}
