.Particular-video-view-duration{
    display: flex;
    justify-content: space-between;
}
.Particular-video-view,.Particular-video-icons,.like,.Dis-like,.Saved-icon{
    display: flex;
    align-items: center;
}
.like,.Dis-like,.Saved-icon{
   margin-left: 20px;
}
.Particular-video-logo img{
    width: 60px;
}
.Particular-video-logo{
    display: flex;
    align-items: center;
}
.blue{
    color: blue;
}
.Particular-video-failure{
    width: 624px;
    display: block;
    margin: auto;
    margin-top: 70px;
}
.Particular-video-failure img{
    width: 100%;
}