.left-bar{
    max-width: 250px;
    height: 100vh;
}

.light-theme{
    background-color: #fff;
}
.dark-theme p{
    color: #fff;
}
.dark-theme-conatiner p,.dark-theme-conatiner h3,.dark-theme-conatiner h2{
    color: #fff;
   

}
.dark-theme .home-banner-header h2{
    color: #000;
}
.leftbar-link {
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
}
.right-bar-videos{
    padding-left: 30px;

  
}
.No-job-found{
    max-width: 800px;
    display: block;
    margin: auto;
    margin-top: 10%;
}
.No-job-found img{
    width: 100%;
}
.active .leftbar-link{ 
    background-color: #f1f5f9;
    
}
.dark-theme .active .leftbar-link{
    background-color: #424242;
}
.active p{
    color: #000;
    font-size: 22px;
    font-weight: 600;
}
.dark-theme .active p{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}
.nav-link{
    text-decoration: none;
}
.leftbar-social-media{
    margin-bottom: 90px;
}
.light-theme .search-videos-conatiner{
    background-color: #f1f1f1;
}
.Home-banner{
    
    background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png ');
    background-size: 100% ;
    height: 30vh;
    background-repeat: no-repeat;
    padding: 20px;
}

.leftbar-socailicons{
    display: flex;
    flex-direction: row;
}
.icon img{
    width: 50px;
}
.icon{
    margin-left: 10px;
}
.left-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dark-theme-conatiner{
    background-color: black;
}
.dark-theme h4{
    color: #fff;
}
.dark-theme .socail-para h3{
    color: #fff;
}
.search-conatiner {
    width: 50%;
    padding: 10px 52px;
}
.search-input {
    padding: 12px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
  }
  .search-videos-conatiner{
    height: 100vh;
  }
  
  .search-conatiner button {
    float: left;
    width: 20%;
    padding: 11px;
    background: #424242;
    color: white;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
  }
  
  .search-conatiner button:hover {
    background: #475569;
  }
  
 .search-conatiner::after {
    content: "";
    clear: both;
    display: table;
  }
.Home-icon{
    float: right;
    padding: 30px;
}
.home-banner-icon img{
    width: 200px;
}
.home-banner-header h2{
    font-size: 22px;
    margin-top: 4px;
}
.banner-button{
    padding: 10px 20px;
    font-size: 19px;
    font-weight: 600;
}
.leftbar-conatiner{
    display: flex;
    align-items: center;
}
.leftbar-conatiner p{
    margin-left: 10px;
}
.active .icon{
    color: red;
}
.unselected .icon{
    color: white;
}
.light-theme .unselected .icon{
    color: #000;
}
@media screen and (max-width: 768px) {
    .right-bar-videos {
        padding-left: 30px;
    }
    .search-conatiner-icon {
        padding: 21px 22px;
        margin-top: 9px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 7px;
        border: none;
    }
    .left-bar {
       display: none;
       
    }
    .Home-banner{
       
       
        background-size: 100% 100%;
        background-repeat: no-repeat;
       
    }
}
@media screen and (max-width: 576px) {
    .right-bar-videos {
        padding-left: 21px;
    }
    .dark-theme p {
        
        margin-bottom: 2px;
        margin-top: 2px;
    }
    .search-conatiner-icon {
        padding: 21px 22px;
        margin-top: 9px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 7px;
        border: none;
    }
   
    .left-bar {
        max-width: 190px;
        display: none;
       
    }
    
    .Home-banner{
      
     
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
    }
    .leftbar-link {
        padding: 8px;
        margin-top: 8px;
        font-size: 17px;
    }
    .icon img {
        width: 30px;
    }
    .socail-para h3{
        font-size: 16px;
        padding-bottom: 15px;
    }
    .home-banner-header h2{
        margin: 0px;
        font-size: 22px;
    }
    .banner-button{
        margin-top: 12px;
    }
    .search-input {
        
        width: 80%;
    
    }
}
@media screen and (max-width: 992px) {
    .right-bar-videos {
        padding-left: 20px;
    }
    .search-conatiner-icon {
        padding: 21px 22px;
        margin-top: 10px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 7px;
        border: none;
    }
    .left-bar {
        max-width: 200px;
        height: 100vh;
    }
    
    
}
@media screen and (max-width: 1200px) {
    .right-bar-videos {
        padding-left: 0px;
    }
    .search-conatiner-icon {
        padding: 21px 22px;
        margin-top: 10px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 7px;
        border: none;
    }
    .Home-banner{
      
        height: 20vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
    }
    .left-bar {
        max-width: 200px;
        height: 100vh;
    }
    
    
}