.left-bar{
    min-width: 250px;
    background-color:  #231f20 ;
    height: 100vh;
}
.Home-conatiner{
    display: flex;
}
.light-theme{
    background-color: #fff;
}
.dark-theme p{
    color: #fff;
}
.leftbar-link {
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
}
.right-bar-videos{
    padding-left: 90px;
 margin: 90px;
  
}
.active .leftbar-link{ 
    background-color: #fff;
    
}
.active p{
    color: #000;
}
.nav-link{
    text-decoration: none;
}
.Home-banner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.Home-banner img{
    width: 1100px;
}
